<main>
  <img
    src="clear.jpg"
    class="absolute w-full h-svh bg-cover bg-center -z-10 drop-shadow-md"
    alt=""
  />
  <div class="p-2 z-30">
    <p-toolbar
      [style]="{ 'border-radius': '3rem', padding: '1rem 1rem 1rem 1.5rem' }"
      class="backdrop-blur-xl bg-transparent! text-black! drop-shadow-md"
    >
      <ng-template #start>
        <p-iconfield iconPosition="left">
          <p-inputicon class="pi pi-search" />
          <!-- autoComplete -->
          <p-autocomplete
            [(ngModel)]="selectedCountry"
            [suggestions]="filteredCountries"
            (completeMethod)="filterCountry($event)"
            placeholder="Enter Country name"
            inputStyleClass="bg-transparent! text-white!"
          />
        </p-iconfield>
      </ng-template>

      <ng-template #center>
        <h1 class="text-xl font-bold text-white">Weather App</h1>
      </ng-template>

      <ng-template #end>
        <p class="p-2 text-white text-lg">
          {{ CurrentDate | date : "fullDate" }}
        </p>
      </ng-template>
    </p-toolbar>
  </div>
  <app-weather-card [SelectedCountry]="selectedCountry"></app-weather-card>
</main>
