<main class="p-2">
  <p-toolbar [style]="{ 'border-radius': '3rem', 'padding': '1rem 1rem 1rem 1.5rem' }">
    <ng-template #start>
      <h1 class="text-lg font-bold">Weather App</h1>
    </ng-template>

    <ng-template #center>
      <p-iconfield iconPosition="left">
            <p-inputicon class="pi pi-search"/>
            <input type="text" pInputText placeholder="Search By contry name" class="!w-[300px] !text-sm" />
        </p-iconfield>
    </ng-template>

    <ng-template #end>
      <p class="p-2 underline">
      {{CurrentDate | date:'fullDate'}}
      </p>
    </ng-template>
</p-toolbar>
</main>
